.target-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
  position: relative;
}

.target-wrapper>div {
  position: relative;
}

.x-position {
  position: absolute;
  left: 10px;
}

.button-container {
  position: relative;
  top: 25px;
}

/* hidden */
canvas {
  border: 1px solid black;
}

.wrapper {
  margin: 20px;
}